# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Logs
*.log

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.local-browsers/

# Environments & private configurations
.env
.env.local
.env.*.local
*.env

